
body {
    
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    
}

img {
    padding: 0;
    margin: 0;
}

.navbar-end {
    margin-left: 10px;
}

figcaption {
    margin:0;
    padding: 0;
    size: 10px;
    
}

.delicious {
    float: top;
    font-family: cursive;
    font-style:italic;
    font-size: 30px;
}

.logo {
    float: left;
    size: 1000px;
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}
.list {
    background-image: url('../assets/list-bg.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    padding-bottom: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}



footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
